<!doctype html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      {% block title %}Biblioteca - Sistema Empréstimo{% endblock %}
    </title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
  </head>
  <body>
    <header class="header">
      <img
        src="{{ url_for('static', filename='img/logo.png') }}"
        alt="Logo da Biblioteca Durmeval Trigueiro Mendes"
        class="logo"
      />
      <div class="header-text">
        <h1>BIBLIOTECA</h1>
        <h2>DURMEVAL TRIGUEIRO MENDES</h2>
        <span class="subtitle">EMPRÉSTIMO · CADASTRO</span>
      </div>
    </header>

    <nav class="navbar">
      <a
        href="{{ url_for('usuario.listar_emprestimos') }}"
        class="{% if active_page == 'emprestimos' %}active{% endif %}"
      >
        Empréstimos
      </a>
      <a
        href="{{ url_for('usuario.cadastrar_usuario') }}"
        class="{% if active_page == 'cadastro_usuario' %}active{% endif %}"
      >
        Cadastro de Usuário
      </a>
      <a
        href="{{ url_for('usuario.listar_usuarios') }}"
        class="{% if active_page == 'usuarios' %}active{% endif %}"
      >
        Listagem de Usuários
      </a>
    </nav>
    <main class="content">{% block content %}{% endblock %}</main>
  </body>
</html>
