<!doctype html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <title>Cadastro | Biblioteca Durmeval Trigueiro Mendes</title>

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
    <link rel="stylesheet" href="../static/css/style.css" />
  </head>
  <body>
    <header class="header">
      <img
        src="{{ url_for('static', filename='img/logo.png') }}"
        alt="Logo da Biblioteca"
        class="logo"
      />

      <div class="header-text">
        <h1>BIBLIOTECA</h1>
        <h2>DURMEVAL TRIGUEIRO MENDES</h2>
        <p>EMPRÉSTIMO · CADASTRO</p>
      </div>
    </header>

    <main class="login-container">
      <div class="login-card">
        <h3>Cadastre-se</h3>

        <form method="POST" action="{{ url_for('cadastrar_admin') }}">
          <input type="text" name="nome" placeholder="Nome" required />

          <input type="email" name="email" placeholder="E-mail" required />

          <button type="submit">Cadastrar</button>
        </form>
      </div>
    </main>
  </body>
</html>
