{% extends "base.html" %} {% block title %}Listagem de Usuários{% endblock %} {%
block content %}

<div class="page-container">
  <div class="page-header">
    <h1>Listagem de Usuários</h1>

    <div class="header-buttons">
      <button
        class="btn medium"
        onclick="window.location.href = '/usuarios/novo'"
      >
        Novo Usuário
      </button>
    </div>
  </div>

  <table class="table">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Email</th>
        <th>Telefone</th>
        <th>Tipo</th>
        <th>Setor</th>
        <th>Ações</th>
      </tr>
    </thead>

    <tbody id="tabelaUsuarios">
      <!-- JS vai preencher aqui -->
    </tbody>
  </table>
</div>

<script src="{{ url_for('static', filename='js/usuarios_listagem.js') }}"></script>

{% endblock %}
